@model int

<td>
    <a asp-action="Update" asp-route-Id="@Model" class="btn btn-warning">
        <i class="fas fa-edit"></i>
        Update
    </a>
</td>
<td>
    <a asp-action="Delete" asp-route-Id="@Model" class="btn btn-danger">
        <i class="fas fa-trash"></i>
        Delete
    </a>
</td>